<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <a href="{% url "todo_list_create" %}">Create a new list</a>
        <a href= "{% url "todo_item_create" %}" >Create New Todo Item</a>
        <table class="todos-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todo_list %}
            <tr>
              <td><a href="{% url "todo_list_detail" todo.id %}">{{todo.name}}</a></td>
              <td>{{todo.items.count}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
